@model ShoppingCartAdmin.Models.DashboardViewModel
@{
    Layout = null;
}

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brand Master</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal form-material" id="addBrand" onsubmit="return AddBrand();">
                    @Html.HiddenFor(m => m.BrandDetail.BrandId, new { name = "BrandId" })
                    <div class="form-group">
                        <label for="exampleInputEmail1">Brand Name</label>
                        @*<input class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">*@
                        @Html.TextBoxFor(m => m.BrandDetail.Name, new { @id = "name", @required = "required", @class = "form-control", @placeholder = "Name" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Remarks</label>
                        @Html.TextBoxFor(m => m.BrandDetail.Remarks, new { @id = "Remark", @required = "required", @class = "form-control", @placeholder = "Remarks" })
                    </div>
                    <div class="form-group">
                        <label>
                            @Html.RadioButtonFor(m => m.BrandDetail.IsActive, "true", new { name = "status", id = "Active", @class = "flat" })&nbsp; Active &nbsp;
                        </label>
                        <label>
                            @Html.RadioButtonFor(m => m.BrandDetail.IsActive, "false", new { name = "status", id = "deActive", @class = "flat" })&nbsp; DeActive &nbsp;
                        </label>
                    </div>
                    <label id="error" style="color:red;"></label>
                    <button type="submit" id="loginButton" on" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Save</button>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>